
body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	color: #000;
	margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
#form{
	line-height: 35px;
	width: 30%;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #000;
	border-radius: 10px;
	margin-top: 5%;
	padding: 20px;
}
.input{
	border: none;
	border-bottom: 2px solid #182E35;
	width: 90%;
	padding: 18px 0;
	border-radius: 4px;
	background:transparent;
	font-size: 16px;
	color: #B4DBCA;
}
.input:focus {
	outline: none;
	background: transparent;
}
#submit{
	margin: 10px 5px 30px 0px;
	background-color: #182E35;
	border: 1px solid #182E35;
	color: #fff;
}
#submit:hover{
	/*background-color: #8BE002;*/
	background-color: #4CE046;
 	color: #000;
 	border-color: #8BE002;
}
#reset{
	background-color: #C5CBCD;
	border: 1px solid #4B626D;
	color: #000;
}
#reset:hover{
	background-color: #4B626D;
 	color: #fff;
 	}
.button{
	height: 30px;
	width: 80px;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
}
::placeholder {
  color: #000;
  opacity: 1;
}
#gender{
	font-size: 20px;
}




